<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciliweb.dao.AuthorizationMapper">
  <resultMap id="BaseResultMap" type="com.ciliweb.domain.Authorization">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from authorization
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ciliweb.domain.Authorization">
    insert into authorization (user_id, access_token, expire_time
      )
    values (#{userId,jdbcType=BIGINT}, #{accessToken,jdbcType=VARCHAR}, #{expireTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ciliweb.domain.Authorization">
    update authorization
    set access_token = #{accessToken,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select user_id, access_token, expire_time
    from authorization
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, access_token, expire_time
    from authorization
  </select>
</mapper>