<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciliweb.dao.GiftCountMapper">
  <resultMap id="BaseResultMap" type="com.ciliweb.domain.GiftCount">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="gift_id" jdbcType="INTEGER" property="giftId" />
    <result column="receive_num" jdbcType="INTEGER" property="receiveNum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from gift_count
    where user_id = #{userId,jdbcType=BIGINT}
      and gift_id = #{giftId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ciliweb.domain.GiftCount">
    insert into gift_count (user_id, gift_id, receive_num
      )
    values (#{userId,jdbcType=BIGINT}, #{giftId,jdbcType=INTEGER}, #{receiveNum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ciliweb.domain.GiftCount">
    update gift_count
    set receive_num = #{receiveNum,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=BIGINT}
      and gift_id = #{giftId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select user_id, gift_id, receive_num
    from gift_count
    where user_id = #{userId,jdbcType=BIGINT}
      and gift_id = #{giftId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, gift_id, receive_num
    from gift_count
  </select>
</mapper>